h1 {
  font-style:normal;
  font-size: 50px;
  font-weight: bolder;
  color: #8B008B;
  text-align: center;
}
body {
  background-color: #FFE4E1
}
h2 {
  font-size: 30px;
  font-stretch: expanded;
}
h2.myprojects {

}
ul {
  line-height: 100px
}
