h1 {
  font-style:normal;
  font-size: 50px;
  font-weight: bolder;
  color: #800080;
  text-align: center;
  margin:
}
body {
  background-image: url(backgroundpic.jpg);
}
h2 {
  font-size: 30px;
  font-stretch: expanded;
}
.myprojects {
  color: #7B68EE;
  font-style: italic;
}
ul {

}
p img{
  width: 100%;
  height: 200px;

}
.projectslist {
  font-style: italic;
}
.aboutjoy {
  font-style: normal;
  color: #800080;
  font-size: 25px
}
body {
  background-image: url(../images/backgroundpic.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
