h1 {
  font-style:normal;
  font-size: 65px;
  font-weight: bolder;
  color:  white;
  text-align: center;
  margin-top: 22%;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  font-stretch: expanded;
}
.myprojects {
  color: white;
  font-style: italic;
}

.projectslist {
  font-style: italic;
  color: white;
  font-size: 15px;
}
.aboutjoy {
  font-style: normal;
  color: white;
  font-size: 25px;

}
body {
  background-image: url(../images/backgorund.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-blend-mode: luminosity;
  background-position: center;
}
#portfolio1 {
    font-size: 20px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}
#portfolio2 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

#portfolio3 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px black;
}
em{
  margin: auto;
}
.text {
  margin-left: 25%;
  margin-top: 18%;
  margin-right: 25%;
  margin-bottom: 15%;
  font-weight: bold;
}
p {
  font-size: 20px;
}
